@{
    ViewBag.Title = "Home Page";
}
<div class="col-sm-12 text-center" style="background: white;">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
    @*<div class="col-sm-12 text-center" style="background: white;">
        <h1 class="azul">Web de scoring y MGD</h1>
    </div>*@

    <div class="col-md-12 bg-default" style="background: white;">
        <p style="text-align:center">
            <img src="@Url.Content("~/")assets/img/portadaWeb.png" class="img-responsive" width="1024" height="768">
            @*<img src="cinqueterre.jpg" class="img-responsive" alt="Cinque Terre" width="304" height="236">*@ 
        <p/>
    </div>

